[submodule "src/github.com/pmezard/go-difflib"]
	path = src/github.com/pmezard/go-difflib
	url = git@github.com:masagroup/go-difflib.git
[submodule "src/github.com/davecgh/go-spew"]
	path = src/github.com/davecgh/go-spew
	url = git@github.com:masagroup/go-spew.git
[submodule "src/launchpad.net/gocheck"]
	path = src/launchpad.net/gocheck
	url = git@github.com:masagroup/gocheck.git
[submodule "src/github.com/jonas-p/go-shp"]
	path = src/github.com/jonas-p/go-shp
	url = git@github.com:masagroup/go-shp.git
