[submodule "src/github.com/pmezard/go-difflib"]
	path = src/github.com/pmezard/go-difflib
	url = git@github.com:masagroup/go-difflib.git
[submodule "src/github.com/davecgh/go-spew"]
	path = src/github.com/davecgh/go-spew
	url = git@github.com:masagroup/go-spew.git
[submodule "src/launchpad.net/gocheck"]
	path = src/launchpad.net/gocheck
	url = git@github.com:masagroup/gocheck.git
[submodule "src/github.com/jonas-p/go-shp"]
	path = src/github.com/jonas-p/go-shp
	url = git@github.com:masagroup/go-shp.git
[submodule "src/github.com/fluffle/goirc"]
	path = src/github.com/fluffle/goirc
	url = git@github.com:masagroup/goirc.git
[submodule "src/code.google.com/p/gomock"]
	path = src/code.google.com/p/gomock
	url = git@github.com:masagroup/gomock.git
[submodule "src/github.com/fluffle/goevent"]
	path = src/github.com/fluffle/goevent
	url = git@github.com:masagroup/goevent.git
[submodule "src/github.com/golang/glog"]
	path = src/github.com/golang/glog
	url = git@github.com:masagroup/glog.git
[submodule "src/github.com/davecheney/profile"]
	path = src/github.com/davecheney/profile
	url = git@github.com:masagroup/profile.git
